{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 160,
  "endOfLine": "auto",
  "tabWidth": 2,
  "experimentalBabelParserPluginsList": [
    "jsx",
    "typescript"
  ],
  "singleAttributePerLine": true,
  "bracketSpacing": true,
  "bracketSameLine": false
}